* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #f4f4f4;
}

a {
  color: inherit;
  text-decoration: none;  
}

