:root {
  --primary: #5429FF;
  --secondary: #344054;
  --secondary-medium: #667085;
  --secondary-light: #D0D5DD;
  --background: #CBCCE8;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: #FCFDFF;
  font-family: Inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;  
}

